*{


    margin: 0;


    padding: 0;


    box-sizing: border-box;


    color: white;


}


#Navbar{


div{

    height: 100px;


   background-color: #0f1111;


    width: 100px;


    margin: 25px;


    padding: 25px;


    display: inline-block;


}


#box1{


    background-color: rgba(0, 0, 255, 0.5);

}


button{


    background-color: #f08800;


#box2{


    background-color: rgba(0, 0, 255, 0.75);

}


#logo{


    color: #f08800;


    font-size: 25px;


#box3{


    background-color: rgba(0, 0, 255, 1);

}


a{


    margin-right: 250px;


    text-decoration: none;


#box4{


    background-color: rgba(0, 0, 255, 0.25);

}

.contentbox{
    height: 100px;
    width: 100px;
}