*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
#Navbar{
    height: 100px;
   background-color: #0f1111;
}
button{
    background-color: #f08800;
}
#logo{
    color: #f08800;
    font-size: 25px;
}
a{
    margin-right: 250px;
    text-decoration: none;
}